<h2>Blog Lists</h2>


<table>
	<tr>
		<th>Blog ID</th>
		<th>Blog Title</th>
	</tr>
	<% @blogs.each do |blog| %>
	<tr>
		<td><%= blog.id %></td>
		<td><%= link_to(blog.blog_title, {:controller => "blogs", :action => "show", :id => blog.id}) %></td>
	</tr>
	<% end %>
</table>