<p class="pull-right"><a href="/comments/destroy/<%= comment.id  %>"><i class="icon-remove"></i></a></p>

<p><strong><%= comment.name %></strong> says at <%= comment.created_at.strftime('%d %B, %Y') %></p>

<p><%= comment.comment_text %></p>
<hr>