<% if object && object.errors.size > 0 %>

<h4><%= pluralize(object.errors.size, "error") %> prohibited this record from being saved</h4>

<ul>
	<% object.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
<% end %>