<div class="span3">
	<ul class="nav nav-list">
        <li class="nav-header">Archives</li>
        <% Blog.get_months.each do |m| %>
        <li class=""><%= link_to(m, {:controller => 'blogs', :action => 'list', :sel_month => m}) %></li>
        <% end %>
    </ul>
</div>